<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="FishPig\WordPress\Model\App" type="LoganStellway\FishPigBedrock\Model\App" />
    <preference for="FishPig\WordPress\Helper\Theme" type="LoganStellway\FishPigBedrock\Helper\Theme" />
    <type name="FishPig\WordPress\Model\Image">
        <plugin name="fishpig_wp_image_plugin" type="LoganStellway\FishPigBedrock\Plugin\Model\ImagePlugin" />
    </type>
</config>
